.sell_saddle-modal-content {
  @apply mt-[24px];
  foo: bar;
}

.sell_saddle-content {
  @apply flex  flex-col;
  foo: bar;
}

.sell_saddle-content-form {
  @apply gap-[32px] flex flex-col;
  foo: bar;
}

.sell_saddle-content-submit {
  @apply flex flex-col gap-[20px] items-center;
  foo: bar;
}

.error-text {
  @apply text-[14px];
  font-family: "Montserrat";
}

.sell_saddle_form_btn {
  @apply mt-[40px] justify-center  gap-2 border-[color:var(--Off-White,#f7f7f6)] text-white text-xl font-medium leading-4 shadow-[0px_2px_4px_-1px_rgba(18,18,23,0.06),0px_4px_6px_-1px_rgba(18,18,23,0.08)] px-14 py-4 rounded-[56px] border-2 border-solid;
  background: var(--Dark-Blue---Primary, #2b364b);
  font-family: "Montserrat";
  foo: bar;
}

.sellSaddle-form {
  @apply text-[#2b364b];
   font-family: "Montserrat";
}

.register-content-submit__text link {
  @apply text-center text-[color:var(--Dark-Blue---Primary,#2B364B)] text-sm font-bold leading-4 underline;
  font-family: "Montserrat";
  foo: bar;
}

.register-content-submit__text {
  color: var(--color-primary);
  @apply text-center text-sm font-normal leading-4;
  font-family: "Montserrat";
  foo: bar;
}

.register-content-links {
  @apply gap-[25px] lg:gap-[65px] mt-[40px] flex flex-col lg:flex-row justify-evenly text-[14px] lg:text-[12px];
  foo: bar;
}
.text-secondary {
  @apply text-[color:var(--Charcoal---400,#999)] text-center text-xs not-italic font-normal leading-[normal];
  font-family: "Montserrat";
  foo: bar;
}

.border_sell_saddle_dsh {
  @apply w-[90%] text-center mx-auto  border-dashed border-b border-[#9c765b] py-[20px];
  foo: bar;
}

.text-area-description {
  color: var(--Dark-Blue---Primary, #2b364b);
  font-family: "Montserrat";
  font-size: 14px;
  padding: 0px 12px;
}
