.event-card-img {
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  min-height: 892px;
}

.events-heading {
  font-family: "Barlow Condensed" !important;
}

.event-title {
  color: #fff;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-transform: uppercase;
  text-align: start;
}

.event-description {
  color: var(--Off-white, #f7f7f6);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.event-date {
  @apply text-[14px] md:text-[14.74px] xl:text-[32px];
  color: #fff;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-align: start;
}

@media (min-width: 1280px) {
  .slider-section .slick-dots li {
    margin: 0 5px;
  }

  .slider-section .slick-dots li button {
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    background: none;
    outline: none;
  }

  .slider-section .slick-dots li button:before {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border: 1px solid white;
    border-radius: 100%;
    background-color: transparent;
  }

  .slider-section .slick-dots li.slick-active button:before {
    background-color: white;
    border-color: white;
    width: 1rem;
    height: 1rem;
  }

  .slider-section .slick-dots {
    position: unset !important;
    text-align: left !important;
    padding-left: 10px;
  }
}

@media (max-width: 1280px) {
  .slider-section .slick-dots li {
    margin: 0 1px;
  }

  .slider-section .slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    position: relative;
  }

  .slider-section .slick-active > button {
    width: 10px !important;
    height: 10px !important;
  }

  .slider-section .slick-dots li button:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 100%;
    background-color: transparent;
  }

  .slider-section .slick-dots li.slick-active button:before {
    background-color: white;
    border-color: white;
    width: 10px;
    height: 10px;
  }

  .slider-section .slick-dots {
    position: unset !important;
    text-align: left !important;
    padding-left: 10px;
  }
}

@media (max-width: 768px) {
  .slider-section .slick-dots li {
    margin: 0 -1px;
  }

  .slider-section .slick-active > button {
    width: 8.45px !important;
    height: 8.45px !important;
  }

  .slider-section .slick-dots li button {
    width: 8.45px;
    height: 8.45px;
    padding: 0;
    border: none;
    background: none;
    outline: none;
    position: relative;
  }

  .slider-section .slick-dots li button:before {
    content: "";
    display: block;
    width: 8.45px;
    height: 8.45px;
    border: 1px solid white;
    border-radius: 100%;
    background-color: transparent;
  }

  .slider-section .slick-dots li.slick-active button:before {
    background-color: white;
    border-color: white;
    width: 8.45px;
    height: 8.45px;
  }

  .slider-section .slick-dots {
    text-align: left !important;
  }
}

.App {
  font-family: sans-serif;
}

.principal {
  @apply max-w-[250px] xl:max-w-[401px] 2xl:max-w-[601px] h-auto md:w-[601px] md:h-[307px];
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dot {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.image-container {
  width: 50%;
  height: 100%;
  background-size: 100% 100%;
}

@media only screen and (min-width: 1280px) {
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 793px !important;
    background: linear-gradient(
      to left,
      rgba(91, 128, 182, 1) 40%,
      rgba(91, 128, 182, 0.7) 60%,
      rgba(91, 128, 182, 0.4) 80%,
      rgba(91, 128, 182, 0) 100%
    );
  }
}

@media only screen and (max-width: 1279.98px) and (min-width: 768px) {
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 400px !important;
    background: linear-gradient(
      to left,
      rgba(91, 128, 182, 1) 40%,
      rgba(91, 128, 182, 1) 50%,
      rgba(91, 128, 182, 1) 60%,
      rgba(91, 128, 182, 1) 70%,
      rgba(91, 128, 182, 0.7) 100%,
      rgba(91, 128, 182, 0.4) 100%,
      rgba(91, 128, 182, 0) 100%
    );
  }

  .left-section {
    height: 400px !important;
  }

  .right-section {
    height: 400px !important;
  }
}

@media only screen and (max-width: 767px) {
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 227.945px !important;
    background-image: linear-gradient(
      to left,
      rgba(91, 128, 182, 1) 40%,
      rgba(91, 128, 182, 1) 50%,
      rgba(91, 128, 182, 0.7) 100%,
      rgba(91, 128, 182, 0.4) 100%,
      rgba(91, 128, 182, 0) 100%
    );
  }

  .left-section {
    height: 227.945px !important;
  }

  .right-section {
    height: 227.945px !important;
  }
}

.book-now-btn {
  @apply w-[115px] sm:w-auto px-[14.4px] py-[4.13px] md:px-[26.9px] md:py-[7.68px] xl:px-[56px] xl:py-[16px] text-[12px] sm:text-[9.602px] xl:text-[20px] bg-transparent  text-white border-[0.516px] sm:border-[0.96px] xl:border-2  border-solid border-[#f7f7f6] rounded-[14.44px] sm:rounded-[26.885px] xl:rounded-[56px];
  font-family: "Montserrat";
}

.view_all_events_btn {
  @apply flex items-center gap-[2.063px] md:gap-[3.841px] lg:gap-2 cursor-pointer text-white h-[14.44px] md:h-[26.885px] lg:h-[56px] p-[6.189px] md:p-[11.522px] lg:p-[24px] rounded text-[12px] sm:text-[9.602px] xl:text-[20px] font-bold leading-[7.22px] md:leading-[13.442px] lg:leading-7 bg-transparent;
  font-family: "Montserrat";
}

.bg-color {
  background: linear-gradient(
    270deg,
    #5c80b6 17.38%,
    rgba(92, 128, 182, 0) 100%
  );
}

.saddlefit-title {
  font-family: "Barlow Condensed";
}
